.add-edit-trip {
    padding: 3rem 2rem;
    background-color: #9B7EBD;
    color: white;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  
    form {
      display: flex;
      flex-direction: column;
      
      input,
      textarea {
        margin-bottom: 1.5rem;
        background-color: white;
        color: black;
      }
  
      textarea {
        height: 150px;
        resize: none;
      }
  
      .photo-upload {
        margin-bottom: 2rem;
  
        input[type="file"] {
          background-color: white;
          color: black;
          padding: 10px;
          border-radius: 5px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;        }
      }
  
      button {
        padding: 12px 25px;
        background-color: #7E5CAD;
        border-radius: 5px;
        color: white;
        font-size: 1.1rem;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color: #69247C;
        }
      }
    }
  }
  /* Mobile */
@media (max-width: 600px) {
  .add-edit-trip {
    padding: 2rem;
  }

  form {
    input,
    textarea {
      font-size: 1rem;
    }
  }
}

/* Tablet and Desktop */
@media (min-width: 601px) {
  .add-edit-trip {
    padding: 3rem;
  }

  form {
    input,
    textarea {
      font-size: 1.2rem;
    }
  }
}
  