.edit-trip {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #9B7EBD;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    .form-group {
      margin-bottom: 15px;
  
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
  
      input,
      textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border-radius: 5px;
      }
      input{
        background-color: white;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: gainsboro;

      }
  
      textarea {
        resize: vertical;
        height: 100px;
        background-color: white;
        color: gainsboro;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      }
    }
  
    button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #b639ff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #f32cf3;
      }
    }
  }
  