@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
  background-color:white;
  padding: 0rem 0rem;
  color: #461854;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  /* Styling for the TravelDiary logo */
  .logo {
    font-size: 0.5rem; /* Adjust the font size as needed */
    color: #9b59b6; /* Purple color */
    letter-spacing: 0.2px; /* Adds spacing between letters */
    transition: color 0.3s ease; /* Adds a transition effect when color changes */
    font-family: "Poppins", serif;
    font-weight: 100;
    margin-left: 1.5rem;

    &:hover {
      color: #8e44ad; /* Darker purple on hover */
    }
  }
  .navy{
    box-shadow: rgba(183, 41, 240, 0.705) 0px 25px 20px -20px;

  }
  nav a {
    margin: 0 1.5rem;
    color: #9b59b6;
    font-size: 1rem;
    transition: color 0.3s ease;
    font-family: "Poppins", serif;
    font-weight: 350;
    box-shadow: rgba(183, 41, 240, 0.705) 0px 25px 20px -20px;


    &:hover {
      color: #7500b9;
    }
  }
}
