/* Tablet */
@media (max-width: 1024px) {
    .map-page {
      padding: 2rem;
    }
  
    .map-container {
      height: 300px;
    }
  }
  
  /* Mobile */
  @media (max-width: 600px) {
    .map-page {
      padding: 1rem;
    }
  
    .map-container {
      height: 250px;
    }
  }

  .map-page {
    padding: 3rem 2rem;
    background-color: whitesmoke;
    color: #9B7EBD;
    text-align: center;
  
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 600;
    }
  
    .map-container {
      width: 100%;
      height: auto;
      border-radius: 8px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    }
  }
  